.my-page-container{
    font-size: 28rpx;
}
.to-submit-article-button {
    color: #ffffff;
    background-color: #66cccc;
    padding: 5rpx 20rpx;
    border-radius: 40rpx;
    font-size: 26rpx;
}
.to-submit-area {
    font-size: 28rpx;
    color: #575656;
    font-weight: 500;
}
.submit-area-container {
    display: flex;
    justify-content: space-between;
}
.submit-area-container, .type-words-area {
    margin: 20rpx 10rpx;
}
.submit-area-container .for-more {
    color: #999999;
    font-size: 24rpx;
}
.for-more {
    margin-right: 20rpx;
}
.zhichang-pua-words {
    border: 1px solid #999999;
    color: #999999;
    border-radius: 30rpx;
    font-size: 24rpx;
    padding: 3rpx 15rpx;
    margin-left: 10rpx;
    display: inline-block;
}
.click-pua-words {
    border-color: #66cccc;
    color: #66cccc;
}
.type-words-area {
    height: 440rpx;
}
.type-words-area textarea {
    width: 100%;
}
.mood-value-container {
    color: #66cccc;
}
.mood-value-text {
    margin: 0 10rpx;
    display: flex;
    justify-content: space-between;
}
.display-area {
    width: 200rpx;
    height: 200rpx;
    border-radius: 20rpx;
    margin: 20rpx 10rpx;
    border: 1px dotted #919191;
    padding: 10rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-choose {
    width: 80rpx;
    height: 80rpx;
}
.value-to-check {
    color: #919191;
}
.body-bottom {
    position: fixed;
    height: 80rpx;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #66cccc;
    padding-top: 10rpx;
    background-color: #ffffff;
}
.body-bottom view {
    width: 100rpx;
    color: #999999;
    line-height: 30rpx;
    text-align: center;
    height: 30rpx;
    font-size: 24rpx;
}
.body-bottom .current-page {
    color: #66cccc;
}
.body-bottom .tosubmit-smt-icon {
    width: 40rpx;
    height: 40rpx;
    background-color: #66cccc;
    border: 20rpx;
}